body{
    background-image: url(./canardUltraSwag3000.gif);
    background-repeat: repeat;
}

div{
    text-align: center;
    height: 100px;
}
video{
    text-align: center;
    height:55em;
}

.canardMot{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fond{
    height: 800px;
}

button{/*mobile*/
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    height: 50px;
    width: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    border-radius: 10px;
}

@media only screen and (min-width: 1000px){
    button{/*Desktop*/
        position: absolute;
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%); 
        height: 100px;
        width: 500px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3em;
        border-radius: 10px;
    }
}